<p id="notice"><%= notice %></p>

<p>
  <b>Idle session timeout:</b>
  <%= @configuration.idle_session_timeout %>
</p>

<p>
  <b>From email:</b>
  <%= @configuration.from_email %>
</p>


<% if allowed?(:configurations, :update) %>
<%= link_to 'Edit', edit_configuration_path %>
<% end %>
