<h1>Editing application</h1>

<%= render 'form' %>

<% if allowed?(:applications, :show) %>
<%= link_to 'Show', @application %>
<% end %>
<% if allowed?(:applications, :index) %>
| <%= link_to 'Back', applications_path %>
<% end %>
