body {
    background-color: #ccf;
    font-family: Arial,sans-serif;
    margin: 0;
}

.gwt-rails-loading, .gwt-rails-info, .gwt-rails-warn, .gwt-rails-error {
    background-color: lightgoldenRodYellow;
    border: 1px solid darkgoldenrod;
    color: darkgoldenrod;
    font-family: verdana,arial,helvetica,sans-serif;
    opacity: 0.9;
    overflow: auto;
    padding: 0.5em 5%;
    margin-top: .1em;
    width: 30%;
}
.gwt-rails-info {
    background-color: lightgreen;
    border: 1px solid darkgreen;
    color: darkgreen;
}
.gwt-rails-warn {
    background-color: lightgoldenRodYellow;
    border: 1px solid darkgoldenrod;
    color: darkgoldenrod;
}
.gwt-rails-error {
    border: 1px solid darkred;
    color: darkred;
}
.gwt-rails-loading {
    background-color: lightgoldenRodYellow;
    margin-left: 40%;
    width: 4em;
    margin-right: 40%;
    font-size: 0.8em;
    height: 1.2em;
    padding: 0 0.3em;
    border: 1px solid darkgoldenrod;
}

.gwt-rails-display, .gwt-rails-model-signature, .gwt-rails-model-fields {
    clear: both;
}

/* main display */
.gwt-rails-display {
    background-color: #fff;
    border: 1px solid darkblue;
    margin: 0;
    padding-top: 1%;
    margin-right: 1%;
    padding-bottom: 1%;
}
.gwt-rails-display .gwt-Label {
    background-color: #ccf;
    text-align: center;
    font-weight: bolder;
}

/* signature */
.gwt-rails-model-signature {
    background-color: #ccf;
    padding-left: .5em;
}
.gwt-rails-model-signature * {
    display: inline;
    font-size: 0.6em;
    padding-right: 0.3em;
    margin:0;
}
.gwt-rails-model-signature span {
    margin-right: 1em;
}

/* breadcrumbs/header */
.gwt-rails-breadcrumbs {
    height: 100%;
    margin-top: 2em;
}

.gwt-rails-breadcrumbs * {
    display: inline;
    float: right;
    margin-left: 1em;
    font-size: .7em;
}

.gwt-rails-breadcrumbs div {
    margin: .5em;
    margin-right: 1em;
}

/* form fields */
.gwt-rails-model-fields {
    padding-top: 0.5em;
}
.gwt-rails-model-fields > div > * {
    display: block;
    margin-left: 3%;
}
.gwt-rails-model-fields .gwt-TextBox, .gwt-rails-model-fields .gwt-TextArea {
    width: 30%;
}
.gwt-rails-model-fields .gwt-TextArea {
    height: 6em;
}
.gwt-TextBox, .gwt-PasswordTextBox {
    background-color: #ccf;
    border: 1px solid darkblue;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    margin: 0.2em;
    padding: 0.3em;
}
.gwt-rails-model-fields .gwt-TextArea, .gwt-rails-model-fields .gwt-TextBox {
    background-color: #ccf;
    border: 1px solid darkblue;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    width: 100%;
}
.gwt-PasswordTextBox:hover,
.gwt-TextBox:hover{
    background-color: #ddf;
}
.gwt-PasswordTextBox:focus,
.gwt-TextBox:focus{
    background-color: #fff;
}
.gwt-rails-model-fields .gwt-TextBox:hover, 
.gwt-rails-model-fields .gwt-TextArea:hover {
    background-color: #ddf;
}
.gwt-rails-model-fields .gwt-TextBox:focus, 
.gwt-rails-model-fields .gwt-TextArea:focus {
    background-color: #eef;
}
.gwt-rails-model-fields div {
    float: left;
    margin-right: 3%;
    padding-bottom: 0.5em;
    width: 46%;
}
.gwt-rails-model-fields label {
    margin-left: 3%;
}

/* buttons */
.gwt-Button {
    background-color: #aaf;
    border: 0.1em solid darkblue;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    color: #115;
    font-weight: bold;
    padding: 0.2em 0.8em;
}
.gwt-Button:hover {
    border: 0.1em solid #fff;
}
.gwt-rails-buttons {
    background-color: #77f;
    clear: both;
    padding-left: 3%;
}

/* navgation left side */
.gwt-rails-menu {
    margin-right: 1em;

}
.gwt-rails-menu * {
    clear: both;
    display: block;
    float: right;
    padding: 0.2em;
}

/* footer */
.gwt-rails-application-links {
    background-color: #ccf;
    border-top: 1px solid darkblue;
}
.gwt-rails-application-links a {
    font-size: 0.8em;
    padding-bottom: 3em;
    padding-left: 1em;
    text-decoration: none;
}

/* login screen and general header */
.separator {
    border-top: 1px solid black;
    margin-top: 1.5em;
    padding-top: 1.5em;
}
.display {
    background-color: #77f;
    border: 1px solid darkblue;
    border-radius: 1em;
    clear: both;
    opacity: 1;
    padding: 2em;
    width: 15em;
}
#header-text, img {
    float: left;
    margin-right: 1em;
    font-size: 2.5em;
}

.translations-applications table { 
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    cell-spacing: 0;
}

.translations-applications table td { 
    margin: 0;
    padding-left: .3em;
    vertical-align: bottom;
}
.translations-text { 
    width: 100%;
    margin: 0;
    padding: 0;
}

.translations-signature * { 
    display: inline;
    font-size: .6em;
    padding-left: .5em;
}

.translations-signature { 
    width: 100%;
    background-color: #ccf;
}
.translations-search { 
    border-bottom: 1px solid #ccf;
}
.translations-key { 
    font-style: italic;
}

.translations-table { 
    border: 1px solid #aaf;
                      }

.translations-signature, .translations-key,.translations-original, .translations-default, .translations-text { 
    border-top: 1px solid #aaf;  
}
.translations-key td,.translations-original td, .translations-default td, .translations-text td { 
    font-size: 0.7em;
} 
.translations-key .gwt-Label,.translations-original .gwt-Label, .translations-default .gwt-Label , .translations-text .gwt-Label { 
    background-color: white;
    font-weight: normal;
}
.translations-key td *,.translations-original td *, .translations-default td *, .translations-text td * { 
    display: inline;
}

.translations-prefix { 
    width: 10em;
}
.translations-text-box {
    background-color: #ccf;
    border: 1px solid darkblue;
    width: 99%;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
}

.translations-text-box:hover{
    background-color: #ddf;
}
.translations-text-box:focus{
    background-color: #fff;
}
.translations-without-original-without-default .translations-original,
.translations-without-original-without-default .translations-default,
.translations-without-original-with-default .translations-original,
.translations-with-original-without-default .translations-default {  
    display: none;
}
