.gwt-rails-loading, .gwt-rails-info, .gwt-rails-warn, .gwt-rails-error
{ 
  font-family: verdana, arial, helvetica, sans-serif;
  background-color:lightgoldenRodYellow;
  border:1px solid darkgoldenrod;
  color:darkgoldenrod;
  margin-left:35%;
  margin-right:35%;
  padding-left:5%;
  width:30%;
  padding-right:5%;
  padding-top:.5em;
  padding-bottom:.5em;
  overflow:auto;;
  position:absolute;
  top:3em;
  opacity:.9;
}
.gwt-rails-info
{ 
  background-color:lightgreen;
  border:1px solid darkgreen;
  color:darkgreen;
}
.gwt-rails-warn
{ 
  background-color:lightgoldenRodYellow;
  border:1px solid darkgoldenrod;
  color:darkgoldenrod;
}

.gwt-rails-error
{ 
  background-color:lightred;
  border:1px solid darkred;
  color:darkred;
}
.gwt-rails-loading
{
  background-color:lightgoldenRodYellow;
  border: 0;
  margin-left:40%;
  margin-right:40%;
  padding:.0em;
  padding-right: 0.3em;
  padding-left: 0.3em;
  width:auto;
  top: 0;
  opacity:.8;
}
.gwt-rails-breadcrumbs *
{
  float: right;
  display: inline;
}
.gwt-rails-breadcrumbs *
{
  margin-left: 1em;
}
.gwt-rails-menu *, .rails-menu *
{
  float: left;
  display: inline; 
}
.gwt-rails-display, .gwt-rails-model-signature, .gwt-rails-model-fields
{ 
  clear: both;
}
.gwt-rails-model-signature *
{ 
  font-size: 0.7em;
  float: left;
  display: inline; 
  margin-right: .3em;
}
.gwt-rails-model-signature span
{ 
  margin-right: 1em;
}
.gwt-rails-model-fields > div > *
{
  display: block;
}
.gwt-rails-model-signature, .gwt-rails-buttons, .gwt-rails-display
{
  margin-top: .3em;
}
.gwt-rails-model-fields .gwt-TextBox, .gwt-rails-model-fields .gwt-TextArea
{
  width: 30%;
}
.gwt-rails-model-fields .gwt-TextArea
{
  height: 6em;
}