<h1>Editing group</h1>

<%= render 'form' %>

<% if allowed?(:groups, :show) %>
<%= link_to 'Show', @group %>
<% end %>
<% if allowed?(:groups, :index) %>
| <%= link_to 'Back', groups_path %>
<% end %>
